<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
    <welcome-file>menu.jsp</welcome-file>
	</welcome-file-list>     
    <display-name>Ejemplo con AJAX</display-name>
    <servlet>
        <servlet-name>JugadoresServlet</servlet-name>
        <servlet-class>servlet.JugadoresServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JugadoresServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>